@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #18181b;
  /* zinc-950 */
  --muted: #f4f4f5;
  /* zinc-100 */
  --muted-foreground: #71717a;
  /* zinc-500 */
  --border: #e4e4e7;
  /* zinc-200 */
  --scrollbar-thumb: #d4d4d8;
  /* zinc-300 */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-border: var(--border);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}



:root.dark,
.dark {
  --background: #09090b;
  /* zinc-950 */
  --foreground: #fafafa;
  /* zinc-50 */
  --muted: #27272a;
  /* zinc-800 */
  --muted-foreground: #a1a1aa;
  /* zinc-400 */
  --border: #27272a;
  /* zinc-800 */
  --scrollbar-thumb: #3f3f46;
  /* zinc-700 */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .scrollbar-custom {
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-thumb) transparent;
  }

  .scrollbar-custom::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  .scrollbar-custom::-webkit-scrollbar-track {
    background: transparent;
  }

  .scrollbar-custom::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb);
    border-radius: 20px;
  }

  .scrollbar-custom::-webkit-scrollbar-button {
    display: none;
  }
}